@import './header';
@import './burger-menu-icon';
@import './switch';
@import './container';
@import './flip-card';
@import './footer';
@import './statistics';

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Amatic SC", cursive;
}