@import './header';
@import './burger-menu-icon';
@import './switch';
@import './container';
@import './flip-card';
@import './footer';
@import './statistics';

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}